body {
  color: white;
  background-color: #009992;
}

header {
  color: white;;
}

h2 {
  color: #;;
}

section {
  color: black;;
  background: #;;
  padding-top: 80px;
  paddding-bottom: 80px;
  diplay: flex; /*tona flexivel = põe um lado do outro */
  justify-content: center; /*centralizar */
}